@font-face { font-family: JetBrainsMono; src: url('/assets/JetBrainsMono-Regular.ttf'); }

:root {
  --dark-background: #0c141f;
  --main-background: #354C66;
  --light-background: #77A2E0;
  --highlight: #c9afda;
  --tan: #f7e7d6;
  --gray: #727272;
}

::selection {
    color: black;
    background-color: var(--highlight);
}

body {
  background-color: var(--main-background);
  font-family: JetBrainsMono, sans-serif;
  margin: 0px;
  color: white;
  border-right: 1px solid black;
  text-align: center;
}

button {
  color: black;
  font-family: JetBrainsMono, sans-serif;
  background-color: var(--light-background);
  border: 1px solid var(--main-background);

  margin: 2px;
  padding: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

button:hover {
  background-color: var(--highlight);
}

button:disabled {
  background-color: var(--main-background);
}


::selection {
  background-color: var(--highlight);
}

input {
  all: unset;
  width: 20px;
}

#wrapper {
    margin-top: 40px;
}

#puzzle-wrapper {
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
    background-color: var(--tan);
    color: black;
}

#puzzle {
}

table {
    border-collapse: collapse;
}

tr, td {
    border: 1px solid black;
}

td {
    width: 40px;
    height: 40px;
}

.border-row {
    border-bottom: 3px solid black;
}

.border-col {
    border-right: 3px solid black;
}

#puzzle-import {
    display: block;
    margin: auto;
}
