
:root {
  --background: #ecebe1;
  --primary: #afc4af;
  --highlight: #c4c8db;
}

body {
    text-align: center;
    background-color: var(--background);
}

button {
    background-color: var(--primary);
}

button:hover {
    background-color: var(--highlight);
    color: black;
}

::selection {
  background-color: var(--highlight);
}

#wrapper {
    margin-top: 40px;
}

#puzzle-wrapper {
    width: fit-content;
    margin: auto;
}

#puzzle {
}

table {
    border-collapse: collapse;
}

tr, td {
    border: 1px solid black;
}

td {
    width: 40px;
    height: 40px;
}

.border-row {
    border-bottom: 3px solid black;
}

.border-col {
    border-right: 3px solid black;
}
